/* ======= Social Font Circles ======== */
@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../fonts/MonoSocialIconsFont-1.10.eot');
    src: url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}

/* ======== Regular CSS ======== */

body {
	background-image: url('../img/retina_wood.png');
	/*background-repeat: no-repeat;
	background-size: cover;*/
}

.shadow-text {
	 text-shadow: 1px 1px black;
}

.cornsilk {
    color: cornsilk;
}

#main{
    position: relative;
}

.page{
    position: absolute;
    width: 100%;
}

.page.ng-leave{
    -webkit-animation: fade-out 0.5s ease-in;
    -moz-animation: fade-out 0.5s ease-in;
    -o-animation: fade-in 0.5s ease-in;
    animation: fade-out 0.5s ease-in;
    z-index: 8888;
}

.page.ng-enter{
    -webkit-animation: fade-in 0.5s ease-in;
    -moz-animation: fade-in 0.5s ease-in;
    -o-animation: fade-in 0.5s ease-in;
    animation: fade-in 0.5s ease-in;
    z-index: 8888;
}

/* 
==============================================
Animations*/
@-webkit-keyframes fade-out{
    from    { opacity: 1; }
    to      { opacity: 0; }   
}

@-moz-keyframes fade-out {
    from    { opacity: 1; }
    to      { opacity: 0; }   
}

@keyframes fade-out {
    from    { opacity: 1; }
    to      { opacity: 0; }   
}

@-webkit-keyframes fade-in {
    from    { opacity: 0; }
    to      { opacity: 1; }   
}

@-moz-keyframes fade-in {
    from    { opacity: 0; }
    to      { opacity: 1; } 
}

@keyframes fade-in {
    from    { opacity: 0; }
    to      { opacity: 1; } 
}

/* === Home === */

.img-shadow{
	box-shadow: 0 8px 10px rgba(0, 0, 0, 0.7);
}

.social {
	color: cornsilk;
	font-size: 2em;
}

h2 a span:hover {
	color: rgb(200,200,175);
}

.no-underline:hover, .no-underline:focus {
	text-decoration: none;
}

.red-text {
	color: crimson;
}

/* === Navbar === */

.nav-text {
	font-size: 1.5em;
}

.navbar.navbar-default.navbar-static-top.transparent {
	background: rgba(255,255,255,0);
	border-bottom: none;
}

.navbar-default .navbar-nav>li>a {
	color: cornsilk;
}

.navbar-default .navbar-brand {
    color: cornsilk;
    font-size: 2em;
}

/* ======== Resume Page ======== */

.resume {
	background-image: url('../img/paper_fibers.png');
	/*background-size: cover;*/
	height: 80%;
	margin-bottom: 40px;
}

.left-border {
	border-left: 1px dotted gray;
}

.bottom-border {
	border-bottom: 1px solid gray;
}

.resume-shadow
{
  	position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.resume-shadow:before, .resume-shadow:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
.resume-shadow:after
{
	right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}

/* ======== Work Page ======== */

.work {
	padding-bottom: 30px;
}

/* ======== Contact Page ======== */
.form-group{
    margin-bottom: 25px;
}

button[type='submit']{
    margin-top: 18px;
}

.contact-shadow
{
    position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.contact-shadow:before, .contact-shadow:after
{
    content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
.contact-shadow:after
{
    right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}