/* ======= Social Font Circles ======== */
@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../fonts/MonoSocialIconsFont-1.10.eot');
    src: url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}

/* ======== Western Font ======== */

@font-face {
    font-family: 'western_bang_bangregular';
    src: url('../fonts/Western Bang Bang-webfont.eot');
    src: url('../fonts/Western Bang Bang-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Western Bang Bang-webfont.woff2') format('woff2'),
         url('../fonts/Western Bang Bang-webfont.woff') format('woff'),
         url('../fonts/Western Bang Bang-webfont.ttf') format('truetype'),
         url('../fonts/Western Bang Bang-webfont.svg#western_bang_bangregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ======== Regular CSS ======== */

body {
	background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

.shadow-text {
	 text-shadow: 1px 1px cornsilk;
}

/* === Home === */

.img-shadow{
	box-shadow: 0 8px 10px rgba(0, 0, 0, 0.7);
}

.social {
	color: cornsilk;
	font-size: 2em;
}

h2 a span:hover {
	color: rgb(200,200,175);
}

.no-underline:hover, .no-underline:focus {
	text-decoration: none;
}

#main {
	padding-top: 70px;
}

/* === Navbar === */

.nav-text {
	font-size: 35px;
}

.navbar.navbar-default.navbar-fixed-top.transparent {
	background: rgba(255,255,255,0);
	border-bottom: none;
}

.navbar-default .navbar-nav>li>a {
	color: black;
	font-family: 'western_bang_bangregular';
}

.navbar-default .navbar-brand {
    color: black;
    font-family: 'western_bang_bangregular';
    font-size: 40px;
}

/* ======== Resume Page ======== */

.resume {
	background-image: url('../img/canvas.jpg');
	background-size: cover;
	height: 80%;
}

.resume-shadow
{
  	position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.resume-shadow:before, .resume-shadow:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
.resume-shadow:after
{
	right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}


