/* ======== Regular CSS ======== */

body {
	background-image: url('../img/retina_wood.png');
	/*background-repeat: no-repeat;
	background-size: cover;*/
    font-family: 'Lato', sans-serif;
    /*font-weight: 300;*/
}

.shadow-text {
	 text-shadow: 1px 1px black;
}

.cornsilk {
    color: cornsilk;
}

#main{
    position: relative;
}

/*======== Page animations ======== */

.page.ng-enter {
    animation:view_enter 1.25s ease-in;
}
@keyframes view_enter {
    0% { opacity: 0;}
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.page.ng-leave {
    animation:view_leave 0.5s ease-out;
}
@keyframes view_leave {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

/* === Home === */

.img-shadow{
	box-shadow: 0 8px 10px rgba(0, 0, 0, 0.7);
}

.social {
	color: ivory;
	font-size: 2em;
}

h4 a i:hover {
	color: rgb(200,200,175);
}

.social-icons a+a {
    margin-left: 15px
}

.no-underline:hover, .no-underline:focus {
	text-decoration: none;
}

.red-text {
	color: crimson;
}

/* === Navbar === */

.nav-text {
	font-size: 1.5em;
}

.navbar.navbar-default.navbar-static-top.transparent {
	background: rgba(255,255,255,0);
	border-bottom: none;
}

.navbar-default .navbar-nav>li>a {
	color: ivory;
}

.navbar-default .navbar-brand {
    color: ivory;
    font-size: 2em;
}

.navbar-default .navbar-toggle {
    border-color: ivory;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: ivory;
}

/* ======== Resume Page ======== */

.resume {
	background-image: url('../img/paper_fibers.png');
	/*background-size: cover;*/
	height: 80%;
	margin-bottom: 40px;
}

.left-border {
	border-left: 1px dotted gray;
}

.bottom-border {
	border-bottom: 1px solid gray;
}

.resume-shadow
{
  	position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.resume-shadow:before, .resume-shadow:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
.resume-shadow:after
{
	right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}

/* ======== Work Page ======== */

.work {
	padding-bottom: 30px;
}

.work-image-link a:hover figure .hover-item {
    opacity: 1;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.work-image-link a:hover figure .hover-item span {
    color: cornsilk;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.work-image-link a:hover figure .hover-item span.fa-lg {
    font-size: 3em;
}

figure {
    position: relative;
}

figure .hover-item {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5)
}

/* ======== Contact Page ======== */
.form-group{
    margin-bottom: 25px;
}

button[type='submit']{
    margin-top: 18px;
}

.contact-shadow
{
    position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.contact-shadow:before, .contact-shadow:after
{
    content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
.contact-shadow:after
{
    right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}