<div>
	<div class="col-md-8 col-md-offset-3">
		<h3 class="cornsilk shadow-text">You have entered the Konami Code, please enjoy this NES emulator!</h3>
	</div>
	<div class="col-md-offset-5 col-md-4">
		<x-nes src="./roms/super-mario-bros.nes" poster="./img/super-mario-bros.png"></x-nes>
		<ul class="list-unstyled cornsilk">
			<li>&nbsp;</li>
			<li>Hit the Play button to begin!</li>
			<li>&nbsp;</li>
			<li><strong>Controls</strong></li>
			<li>D-Pad: Arrows</li>
			<li>Select: Shift</li>
			<li>Start: Enter</li>
			<li>B: z</li>
			<li>A: x</li>
		</ul>
	</div>
</div>