<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="page-header">
        <img class='img-circle img-responsive img-shadow center-block' src="img/picture.jpg">
        <h1 class="shadow-text red-text">William H. Carter III</h1>
        <h3>Full Stack Web Developer</h3>
      </div>
      <!-- <hr class="divider col-md-4 center-block"> -->
      <h2 class="col-md-12">
        <a class="no-underline" target="_blank" href="https://github.com/whcarter3" id="github"><span title="Github" class="symbol social">circlegithubalt</span></a>
        <a class="no-underline" target="_blank" href="https://www.linkedin.com/in/carterthethird" id="linkedin"><span title="LinkedIn" class="symbol social">circlelinkedin</span></a>
        <a class="no-underline" target="_blank" href="https://twitter.com/WHC_Tre" id="twitter"><span title="Twitter" class="symbol social">circletwitterbird</span></a>
        <a class="no-underline" target="_blank" href="https://www.facebook.com/will.carter.9887" id="facebook"><span title="Facebook" class="symbol social">circlefacebook</span></a>
        <a class="no-underline" target="_blank" href="https://instagram.com/whc_tre/" id="instagram"><span title="Instagram" class="symbol social">circleinstagram</span></a>
      </h2>
    </div> <!-- end col-md-12 -->
  </div> <!-- end row -->
</div> <!-- end container -->