<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="page-header">
        <img class='img-circle img-responsive img-shadow center-block' src="img/picture.jpg">
        <h1 class="shadow-text red-text">William H. Carter III</h1>
        <h3>Full Stack Web Developer</h3>
      </div>
      <!-- <hr class="divider col-md-4 center-block"> -->
      <h4 class="col-md-12 social-icons">
        <a class="no-underline" target="_blank" href="https://github.com/whcarter3" id="github"><i class="fa fa-github-alt social"></i></a>
        <a class="no-underline" target="_blank" href="https://www.linkedin.com/in/carterthethird" id="linkedin"><i class="fa fa-linkedin social"></i></a>
        <a class="no-underline" target="_blank" href="https://twitter.com/WHC_Tre" id="twitter"><i class="fa fa-twitter social"></i></a>
        <a class="no-underline" target="_blank" href="https://www.facebook.com/will.carter.9887" id="facebook"><i class="fa fa-facebook social"></i></a>
        <a class="no-underline" target="_blank" href="https://instagram.com/whc_tre/" id="instagram"><i class="fa fa-instagram social"> </i></a>
      </h4>
    </div> <!-- end col-md-12 -->
  </div> <!-- end row -->
</div> <!-- end container -->