<div class="container work">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">My Current Work
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                <a target="_blank" href="http://last-call.herokuapp.com/">
                    <img class="img-responsive" src="../img/last-call.png" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Last Call</h3>
                <p>Last Call is a search platform focused on Los Angeles bars and restaurants that are open late. Visitors can do simple searches to find business near their zip code. Last Call is built on Ruby on Rails, PostgresQL, along with the Google Maps API. It is deployed on Heroku, and utilizes CircleCI for continuous integration, as well as Rspec, Capybara, and Factory Girl for testing.</p>
                <a class="btn btn-info" target="_blank" href="http://last-call.herokuapp.com/">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->
        
        <hr>

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a target="_blank" href="https://tictacmario.firebaseapp.com/">
                    <img class="img-responsive" src="../img/tictacmario.png" alt="Tic Tac Mario">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Tic Tac Mario</h3>
                <p>This was my first project at WDI. It is a 2-player Tic Tac Toe game that can be played on 2 browsers simultaneously. I built it using AngularJS, and HTML/CSS, and converted web-fonts. It uses Firebase for the database and for deployment.</p>
                <a class="btn btn-info" target="_blank" href="https://tictacmario.firebaseapp.com/">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                <a target="_blank" href="http://carter-calculator.com.s3-website-us-west-1.amazonaws.com/">
                    <img class="img-responsive" src="../img/calculator.png" alt="Calculator">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Javascript Calculator</h3>
                <p>This is a calculator I built using pure Javascript along with HTML/CSS. The logic for the calculator is built with only 24 lines of Javascript. I also included a digital clock font.</p>
                <a class="btn btn-info" target="_blank" href="http://carter-calculator.com.s3-website-us-west-1.amazonaws.com/">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->


</div><!-- /.containter -->