<div class="container work">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Most Recent Work</h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Insite -->
        <div class="row">
            <div class="col-md-7">
                <a target="_blank" href="http://insitela.net/" id="insite-img">
                    <img class="img-responsive" src="../img/insite.png" alt="Insite">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Insite</h3>
                <p>Insite is a mixed-use real estate development in El Segundo. They building used to be operated by Raytheon, and as part of the rebranding process, the client wanted to pay homage to the aerospace industry.</p>

                <p>I built this site a single-page scrolling site which is mainly geared towards users using Internet Explorer, although the site is completely responsive.</p>

                <h4>Highlights</h4>
                <div class="list-group">
                    <a href="http://insitela.net" target="_blank" class="list-group-item">Scroll to fixed navigation (click the arrow)</a>
                    <a href="http://insitela.net/#amenities-anchor" target="_blank" class="list-group-item">Interactive amenities map</a>
                    <a href="http://insitela.net/#floorplans-anchor" target="_blank" class="list-group-item">Interactive floor plans (scroll past site plan)</a>
                </div>
                <a class="btn btn-info" target="_blank" href="http://insitela.net" id="insite-text">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- deToledo High School -->
        <div class="row">
            <div class="col-md-7">
                <a target="_blank" href="http://dths.org/" id="dths-img">
                    <img class="img-responsive" src="../img/dths.png" alt="deToledo High School">
                </a>
            </div>
            <div class="col-md-5">
                <h3>de Toledo High School</h3>
                <p>de Toledo High School went through a name change (formerly known as New Community Jewish High School) and wanted to completely re-brand their school.</p>

                <p>I built this site with a completely custom Wordpress backend using Bootstrap to make the client's editing process simple and straight forward.</p>

                <h4>Highlights</h4>
                <div class="list-group">
                    <a href="http://dths.org/admissions/how-to-apply/" target="_blank" class="list-group-item">Clean pairing of typography</a>
                    <a href="http://dths.org/about/eslrs/" target="_blank" class="list-group-item">UX design allows user to find only the information they want</a>
                    <a href="http://dths.org/admissions/open-house/" target="_blank" class="list-group-item">Carefully chosen photography draws user into reading copy</a>
                </div>
                <a class="btn btn-info" target="_blank" href="http://chnfoundation.org/" id="chnfoundation-text">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pen Factory Splash Page -->
        <div class="row">
            <div class="col-md-7">
                <a target="_blank" href="http://penfactory.la/" id="penfactory-img">
                    <img class="img-responsive" src="../img/penfactory.png" alt="Pen Factory">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Pen Factory</h3>
                <p>Splash page for a developing project next to Bergamot station in Santa Monica.</p>

                <p>I was able to fufill the clients needs on a limited time frame and budget.</p>

                <p>Hidden footer allows images to be absorbed before finding the contact information.</p>

                <a class="btn btn-info" target="_blank" href="http://penfactory.la/" id="penfactory-text">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- CHN Foundation -->
        <div class="row">
            <div class="col-md-7">
                <a target="_blank" href="http://chnfoundation.org/" id="chnfoundation-img">
                    <img class="img-responsive" src="../img/chn_foundation.png" alt="Craig H. Neilsen Foundation">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Craig H. Neilsen Foundation</h3>
                <p>The Craig H. Neilsen foundation is an organization dedicated to research and programs dedicated to improving the quality of life of people with spinal cord injuries. </p>

                <p>I built the site with a custom partial Wordpress backend which had to be completely compliant with Accessibility Standards.</p>

                <h4>Highlights</h4>
                <div class="list-group">
                    <a href="http://chnfoundation.org/about-us" target="_blank" class="list-group-item">Long scrolling responsive about page</a>
                    <a href="http://chnfoundation.org/news" target="_blank" class="list-group-item">Custom built partial Wordpress backend</a>
                    <a href="http://chnfoundation.org/funding-philosophy" target="_blank" class="list-group-item">Interactive charts using Charts.js</a>
                </div>
                <a class="btn btn-info" target="_blank" href="http://chnfoundation.org/" id="chnfoundation-text">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                <a target="_blank" href="http://last-call.herokuapp.com/" id="last-call-img">
                    <img class="img-responsive" src="../img/last-call.png" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Last Call</h3>
                <p>Last Call is a search platform focused on Los Angeles bars and restaurants that are open late. Visitors can do simple searches to find business near their zip code. It was built as my 3rd project with a group at General Assembly.</p>

                <p>Last Call is built on Ruby on Rails, PostgresQL, along with the Google Maps API. It is deployed on Heroku, and utilizes CircleCI for continuous integration, as well as Rspec, Capybara, and Factory Girl for testing.</p>
                <a class="btn btn-info" target="_blank" href="http://last-call.herokuapp.com/" id="last-call-text">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->
        
        <hr>

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a target="_blank" href="https://tictacmario.firebaseapp.com/" id="tic-tac-mario-img">
                    <img class="img-responsive" src="../img/tictacmario.png" alt="Tic Tac Mario">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Tic Tac Mario</h3>
                <p>This was my first project at General Assembly. It is a 2-player Tic Tac Toe game that can be played on 2 browsers simultaneously.</p>

                <p>I built it using AngularJS, and HTML/CSS, and converted web-fonts. It uses Firebase for the database and for deployment.</p>
                <a class="btn btn-info" target="_blank" href="https://tictacmario.firebaseapp.com/" id="tic-tac-mario-text">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                <a target="_blank" href="http://carter-calculator.com.s3-website-us-west-1.amazonaws.com/" id="calculator-img">
                    <img class="img-responsive" src="../img/calculator.png" alt="Calculator">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Javascript Calculator</h3>
                <p>This is a calculator I built using pure Javascript along with HTML/CSS. The logic for the calculator is built with only 24 lines of Javascript. I also included a digital clock font.</p>
                <a class="btn btn-info" target="_blank" href="http://carter-calculator.com.s3-website-us-west-1.amazonaws.com/" id="calculator-text">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->


</div><!-- /.containter -->